body {
    position: relative;
    z-index: 0;
}
.active{background: red;} 
 
.on{
//  background: orange;
}
.zhangYang-ad {
    overflow: hidden;
    height: 126px;
    background: url(../images/appstore_banner_180.png) center top no-repeat
}

.zhangYang-headers {
    background-color: #fcfcfc;
    float: left;
}
.zhangYang-footer{
    float: left;
    
}
.navv{
    width: 1349px;
}
.num{
    position: relative;
    top:20px;
    right: 16px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    .num1{
        position: absolute;
        right: -46px;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        top:-219px;
    }
}
.zhangYang-header-lf{
    >div{
        float: left;
        
    }
    .denglu{
        position: relative;
        line-height: 30px;
        margin: 0 30px;
        >a{
            color: red;
        }
        dl{
            height: 30px;
            dt{
                padding: 0 10px 0 7px;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                background-color: #fff;
                z-index: 73;
                width: 135px;
                height: 29px;
                a{
                    display: block;
                    background: url(../images/n_top_ico_e5a1c5b5.png) 114px 13px no-repeat;
                    padding-right: 19px;
                    line-height: 32px;
                    color: #3e4141;
                    text-decoration: none;
                    float: left;
                    width: 105px;
                    height: 30px;
                    p{
                        float: left;
                    }
                    em{
                        color: #ff6900;
                        width: 68px;
                        text-overflow: clip;
                        overflow: hidden;
                        word-wrap: break-word;
                        height: 32px;
                        float: right;
                    }
                }
            }
            dd{
                
                border: 1px solid #e8e8e8;
                background-color: #fff;
                box-shadow: 1px 1px 6px rgba(192,192,192,.5);
                padding-bottom: 10px;
                position: absolute;
                top: 28px;
                left: 0;
                z-index: 72;
                width: 276px;
                display: none;
                .user_login{
                    float: left;
                    width: 252px;
                    padding: 0 10px;
                    a{
                        float: left;
                        
                        p{
                            float: left;
                            line-height: 42px;
                            font-weight: 700;
                            font-size: 14px;
                            width: 150px;
                            text-overflow: clip;
                            overflow: hidden;
                            word-wrap: break-word;
                            height: 42px;
                            color: #78a000;
                        }
                        
                    }
                    a:first-child+a{
                        float: right;
                        line-height: 42px;
                        color: #78a000;
                    }
                }
                em{
                    float: left;
                    border-right: 1px solid #eee;
                    height: 60px;
                    text-align: center;
                    line-height: 20px;
                    color: #3e4141;
                    width: 90px;
                    a{
                        color: #3e4141;
                        display: block;
                        text-decoration: none;
                        span{
                                color: #ff6900;
                        }
                    }
                }
            }
        }
        dl:hover dt a{
            display: block;
            background: url(../images/n_top_ico_e5a1c5b5.png) 114px -13px no-repeat;
            padding-right: 19px;
            line-height: 32px;
            color: #3e4141;
            text-decoration: none;
        }
         dl:hover dd{
             display: block;
         }
    }
    .head15_city{
        float: left;
        background: url(../images/n_top_ico_e5a1c5b5.png) 0 -43px no-repeat;
        padding-left: 34px;
        a{
            display: block;
            text-align: left;
            width: 69px;
            height: 22px;
            line-height: 22px;
            padding-left: 6px;
            color: #3e4141;
            text-decoration: none;
            float: left;
            border: 1px solid #eeeee7;
            background: url(../images/n_top_ico_e5a1c5b5.png) 70px 8px no-repeat #fff;
            margin-top: 3px;
            overflow: hidden;
            padding-right: 10px;
            font{
                    display: block;
                    text-align: left;
                    width: 69px;
                    height: 22px;
                    line-height: 22px;
                    padding-left: 6px;
                    color: #3e4141;
                    text-decoration: none;
                    float: left;
                    border: 1px solid #eeeee7;
                    background: url(../images/n_top_ico_e5a1c5b5.png) 70px 8px no-repeat #fff;
                    margin-top: 3px;
                    overflow: hidden;
                    padding-right: 10px;
            }
        }
    }
}



.zhangYang-advertising {
    float: left;
}

.zhangYang-advertising a img {
    width: 1349px
}

.iconfont {
    display: inline;
    text-align: center;
    line-height: 30px
}

.zhangYang-header-lf ul li {
    height: 31px;
    line-height: 31px
}

.zhangYang-header-lf ul li:last-child {
    padding: 0 0 0 10px
}

.zhangYang-header-lf ul li:last-child span {
    display: inline-block;
    text-align: left;
    width: 79px;
    margin: 0 10px;
    padding-left: 6px;
    color: #3e4141;
    text-decoration: none;
    border: 1px solid #eeeee7
}

.zhangYang-header-rg>ul>li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 100px
}

.zhangYang-header-rg>ul>li:first-child+li+li {
    background: url(../images/n_top_ipico01_dfa609de.gif) center no-repeat
}

.zhangYang-header-rg>ul>li:first-child+li+li:hover .code {
    display: block;
    z-index: 69;
    background-color: #fff;
}

.zhangYang-header-rg>ul>li:first-child+li+li:hover {
    background: url(../images/n_top_ipico02_d931d66e.gif) center no-repeat
}

.zhangYang-header-rg>ul>li:first-child+li+li span a {
    padding: 0 0 0 24px
}

.zhangYang-header-rg>ul li span {
    border-left: 1px solid #999
}

.zhangYang-header-rg>ul li span a {
    color: #000;
    padding: 0 24px
}

.zhangYang-header-rg>ul li .code {
    display: none;
    z-index: 2;
    position: relative;
}

.zhangYang-header-rg>ul li .code li {
    text-align: center;
}

.zhangYang-header-rg ul li:last-child:hover .customer {
    display: block;
}

.customer {
    background: #fff;
    display: none;
    position: relative;
    z-index: 2;
}

.customer li {
    text-align: center;
}

.customer li a {
    color: #000;
}

.zhangYang-header-rg>ul li .code li img {
    width: 100px;
    height: 120px
}

.zhangYang-advertising {
    z-index: 1;
    position: relative
}

.zhangYang-nav {
    position: relative;
    z-index: 1;
    padding: 0 0 20px 0;
    
}

.zhangYang-menu-auto-left{
    float: left;
}
.zhangYang-menu-auto-left:hover .zhangYang-menu-auto-left-pd{
    display: block;
}
.zhangYang-nav .zhangYang-logo h1 {
    text-indent: -999em
}

.zhangYang-nav .zhangYang-logo h1 a {
    display: block;
    width: 352px;
    height: 72px;
    background: url(../images/n_logo_b20f2ffe.gif);
    font-size: 38px;
    text-decoration: none
}

.zhangYang-shopCar {
    margin: 30px 0 0 20px;
    border: 2px solid #999;
    position: relative;
    width: 125px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    background-color: #999
}

.zhangYang-shopCar>div {
    position: relative;
}

.zhangYang-shopCar a {
    color: #fff;
    text-decoration: none
}

.zhangYang-shopCar i {
    display: block;
    width: 26px;
    height: 16px;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 -158px no-repeat;
    position: absolute;
    top: 11px;
    left: 10px
}

.zhangYang-shopCar s {
    display: block;
    width: 10px;
    height: 10px;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 4px no-repeat;
    position: absolute;
    top: 14px;
    right: 20px
}

.zhangYang-benLai {
    margin: 30px 0 0 20px;
    border: 1px solid #E5E5E5;
    position: relative;
    width: 125px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    background-color: #999;
}

.zhangYang-benLai a {
    color: #fff;
    text-decoration: none
}

.zhangYang-benLai>div>i {
    display: block;
    width: 26px;
    height: 16px;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 -121px no-repeat;
    position: absolute;
    top: 11px;
    left: 4px
}

.zhangYang-benLai s {
    display: block;
    width: 10px;
    height: 10px;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 4px no-repeat;
    position: absolute;
    top: 14px;
    right: 10px
}

.zhangYang-souSuo {
    height: 41px;
    width: 470px;
    position: relative;
    z-index: 49;
    margin: 38px 38px 0 0px;
}

.zhangYang-souSuoBox a {
    display: inline-block;
    width: 77px;
    height: 35px;
    color: #666;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 -265px no-repeat
}

.zhangYang-souSuoBox input {
    width: 367px;
    height: 35px;
    border: 0;
    padding: 0 10px;
    float: left;
    font: 400 14px/35px "Microsoft YaHei";
    color: #3e4141;
    border: 2px solid #91BE16;
}

.zhangYang-souSuoWord {
    position: absolute;
    top: -20px;
    left: 0;
    em {
        a {
            color: #999;
            padding: 0 4px;
        }
    }
}

.count {
    height: 23px;
    width: 37px;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 -194px no-repeat;
    position: absolute;
    top: -16px;
    left: 21px;
    font: 400 14px/19px "微软雅黑";
    color: #fff;
    text-align: center;
    z-index: 68;
}

.zhangYang-benLai .vip-messages {
    width: 260px;
    background: white;
    margin: 0 2px 0 0;
    position: absolute;
    top: 39px;
    left: -136px;
    display: none;
    z-index: 70;
    h2 {
        height: 49px;
        line-height: 49px;
        a {
            color: #000;
            float: left;
            font-size: 16px;
            margin: 0 20px;
            text-align: left;
            w {
                color: red;
            }
        }
        a:first-child+a {
            color: red;
        }
        i {
            display: block;
            width: 26px;
            height: 16px;
            background: url(../images/n_top_ico_e5a1c5b5.png) 0 10px no-repeat;
            position: absolute;
            top: 11px;
            right: 14px;
        }
    }
    ul {
        margin: 0 20px 0 20px;
        float: left;
        li {
            text-align: left;
            position: relative;
            a {
                color: #000;
                font-size: 12px;
            }
        }
    }
    h2:first-child+ul {
        li {
            i {
                display: block;
                width: 26px;
                height: 16px;
                background: url(../images/n_top_ico_e5a1c5b5.png) 0 10px no-repeat;
                position: absolute;
                top: 11px;
                right: 30px;
            }
        }
    }
}

.zhangYang-benLai .vip-messages h2:first-child+ul+ul i {
    display: block;
    width: 26px;
    height: 16px;
    background: url(../images/n_top_ico_e5a1c5b5.png) 0 10px no-repeat;
    position: absolute;
    top: 11px;
    right: -30px;
}

.zhangYang-benLai:hover {
    border-bottom: none;
    background: #fff;
    box-shadow: 1px 1px 6px rgba(192, 192, 192, .5);
    a {
        color: red;
    }
}

.zhangYang-benLai:hover .vip-messages {
    display: block;
    top: 38px;
    border: 1px solid #e5e5e5;
    border-top: none;
    box-shadow: 1px 1px 6px rgba(192, 192, 192, .5);
}

.shopCar-messages {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 6px rgba(192, 192, 192, .5);
    padding: 0 15px 18px;
    position: absolute;
    top: 38px;
    right: -2px;
    z-index: 66;
    width: 333px;
    display: none;
    line-height: 60px;
}

.zhangYang-shopCar:hover .shopCar-messages {
    display: block;
    margin: 2px 0 0 0;
}

.zhangYang-shopCar:hover {
    border: none;
    border-bottom: none;
    background: #fff;
    box-shadow: 1px 1px 6px rgba(192, 192, 192, .5);
    a {
        color: red;
    }
}

.zhangYang-avi {
    ul {
        li {
            position: relative;
            float: left;
            img {
                position: absolute;
                top: -10px;
                left: 54px;
            }
            a {
                font: 400 18px/40px "Microsoft YaHei";
                color: #fff!important;
                padding: 2px 25px;
                text-decoration: none!important;
                display: block;
            }
            a:hover {
                background: #55A532;
            }
        }
    }
}

.zhangYang-menu {
    width: 100%;
    height: 44px;
    float: left;
    background: #91BE16;
    .zhangYang-menu-auto {
        .zhangYang-menu-auto-left {
            position: relative;
            .zhangYang-menu-auto-left-cf {
                position: relative;
                z-index: 39;
                float: left;
                width: 210px;
                .title-all {
                    a {
                        float: left;
                        width: 175px;
                        font: 400 18px/44px "Microsoft YaHei";
                        color: #fff;
                        padding-left: 35px;
                        text-decoration: none;
                        background: url(../images/icon.png) 158px 20px no-repeat #78a000;
                    }
                }
            }
            .zhangYang-menu-auto-left-pd:hover>dt {
                //                  padding: 0 8px 0 50px;
                border-left: 1px solid #91BE16;
                border-bottom: 1px solid #91BE16;
                border-top: 1px solid #91BE16;
            }
            .zhangYang-menu-auto-left-pd:hover dd {
                position: absolute;
                top: 0;
                left: 0;
            }
            .zhangYang-menu-auto-left-pd {
                position: absolute;
                top: 44px;
                left: 0;
                z-index: 666;
                background: #fff;
                .title-sort {
                    .menu-left {
                        padding: 0 0 0 20px;
                        a {
                            font-size: 14px;
                            color: #78a000;
                            font-weight: 900;
                        }
                    }
                    dl:hover {
                        border-right: none;
                        border-left: 2px solid #91BE16;
                        border-bottom: 1px solid #91BE16;
                        border-top: 1px solid #91BE16;
                    }
                    dl {
                        width: 210px;
                        //                      position: relative;
                        border-left: 1px solid #91BE16;
                        //                      border-bottom:1px solid #91BE16;
                        border-right: 2px solid #91BE16;
                        padding: 1px 0 1px 0px;
                        dt {
                            height: 31px;
                            line-height: 31px;
                            width: 208px;
                            position: relative;
                            z-index: 37;
                            top: 0;
                            left: 0;
                            color: #4c4c4c;
                            padding: 1px 0 1px 50px;
                            text-overflow: clip;
                            display: block;
                            overflow: hidden;
                            font-family: "Microsoft YaHei";
                            a {
                                color: #999;
                            }
                        }
                        i {
                            display: inline-block;
                            width: 10px;
                            height: 12px;
                            background: url(../images/n_icon12_498beb5a.png) 0px 0px no-repeat;
                            position: absolute;
                            top: 10px;
                            right: 14px;
                        }
                        dd {
                            //                          border-left: 1px solid #8ab700;
                            border-right: 1px solid #8ab700;
                            border-bottom: 1px solid #8ab700;
                            background-color: #fff;
                            background: rgba(255, 255, 255, .97);
                            position: absolute;
                            top: 0px;
                            left: 210px;
                            z-index: 36;
                            width: 600px;
                            //                          height: auto!important;
                            height: 399px;
                            //                          min-height: 384px;
                            padding: 15px 15px 0 0;
                            display: none;
                            li {
                                width: 590px;
                                float: left;
                            }
                            .menu-left {
                                float: left;
                                width: 90px;
                            }
                            .menu-right {
                                float: left;
                                width: 495px;
                            }
                            em {
                                float: left;
                                margin: 0 0 17px;
                                a {
                                    color: #999;
                                    border-right: 1px solid #8ab700;
                                    padding: 0 14px;
                                }
                            }
                        }
                    }
                    dl:hover {
                        overflow: visible;
                    }
                    dl:hover dd {
                        display: block;
                    }
                    dl:first-child:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px 0 no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -30px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -65px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -98px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -132px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -198px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -230px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -166px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -268px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -330px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -364px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl+dl+dl+dl:hover {
                        background: url(../images/n_menu_bg02_oc_b129e9e3.png) 8px -298px no-repeat;
                        a {
                            color: #8ab700;
                        }
                    }
                    dl:first-child {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px 0 no-repeat;
                    }
                    dl:first-child+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -30px no-repeat;
                    }
                    dl:first-child+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -65px no-repeat;
                    }
                    dl:first-child+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -98px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -132px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -198px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -230px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -166px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -268px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -330px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -364px no-repeat;
                    }
                    dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl+dl+dl+dl {
                        background: url(../images/n_menu_bg01_oc_b4237de2.png) 8px -298px no-repeat;
                    }
                    //                  
                }
            }
        }
    }
}

.title-sort dl:hover {
    font-size: 16px;
}

#lunbobox {
    width: 1349px;
    height: 400px;
    position:relative;
}
.lunbo {
    
    height:400px;
    a:first-child{
        width: 100%;
        background: url(../images/sjhgg1.jpg) 50% 0% no-repeat;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }
    a:first-child+a{
        width: 100%;
        background: url(../images/sjgx4.jpg) 50% 0% no-repeat;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }
    a:first-child+a+a{
        width: 100%;
        background: url(../images/sjcz13.jpg) 50% 0% no-repeat;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }
    a:first-child+a+a+a{
        width: 100%;
        background: url(../images/sjjg199.jpg) 50% 0% no-repeat;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }
    a:first-child+a+a+a+a{
        width: 100%;
        background: url(../images/sjjg2093.jpg) 50% 0% no-repeat;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
 
#lunbobox ul {
    width:600px;
    position:absolute;
    bottom:10px;
    right:0px;
    z-index:5;
}
#lunbobox ul li {
    cursor:pointer;
    width:100px;
    height:12px;
    border:1px solid #cccccc;
    float:left;
    list-style:none;
    background:#cccccc;
    text-align:center;
    margin:0px 5px 0px 0px;
}
#toleft {
//  display:none;
    width:30px;
    height:100px;
    font-size:40px;
    line-height:100px;
    text-align:center;
    color:#000;
    opacity: 0.4;
    /*background:#cccccc;
    */
    /*background:url("../images/toleft.jpg")no-repeat center;
    */
    position:absolute;
    top:90px;
    left:420px;
    cursor:pointer;
    z-index:99;
    background: green;
}
#toright {
//  display:none;
    width:30px;
    height:100px;
    font-size:40px;
    line-height:100px;
    text-align:center;
    color:#000;
    /*background:#cccccc;
    */
    opacity: 0.4;
    position:absolute;
    top:90px;
    right:120px;
    cursor:pointer;
    z-index:99;
    background: green;
}

.zhangYang-footer {
    .bar {
        background: #f8f8f6;
        height: 120px;
        dl {
            float: left;
            margin: 0 40px;
            padding-top: 40px;
            dt {
                background: url(../images/foot_84041c99.gif) no-repeat;
                float: left;
                width: 28px;
                height: 40px;
                border-right: 1px solid #aeaead;
                padding: 0 23px;
                margin-right: 13px;
            }
            dd {
                font: 400 14px/22px "Microsoft YaHei";
                color: #666;
                float: left;
                span {
                    display: block;
                    font: 400 20px/22px "Microsoft YaHei";
                    color: #90b42f;
                }
            }
            .icon1 {
                background-position: 7px 4px;
            }
            .icon2 {
                background-position: 7px -49px;
            }
            .icon3 {
                background-position: 7px -99px;
            }
            .icon4 {
                background-position: 7px -148px;
            }
        }
    }
    .footered {
        padding: 30px 0 0 110px;
        dl {
            margin: 0 50px;
            float: left;
            dt {
                font-size: 14px;
                padding: 0 0 16px 34px;
                background: url(../images/foot_84041c99.gif) no-repeat;
            }
            .xs1 {
                background-position: 0px -249px;
            }
            .xs2 {
                background-position: 0px -282px;
            }
            .xs3 {
                background-position: 0px -314px;
            }
            .xs4 {
                background-position: 0px -348px;
            }
            dd {
                padding: 8px 0px;
                margin: 0 10px;
                border-left: dashed 1px #999;
                a {
                    text-align: center;
                    padding: 0 24px;
                    color: #999;
                }
            }
        }
    }
}

.info {
    padding: 20px 0;
    text-align: center;
    dl {
        dt {
            color: #111;
            img {
                margin: 0 20px 0 0;
            }
        }
        dd {
            padding: 10px 0 0 0;
            em {
                border-right: 1px solid #999;
                padding: 0 10px;
                a {
                    color: #000;
                    img {
                        vertical-align: middle;
                    }
                }
                a:hover {
                    color: red;
                }
            }
        }
    }
}

.sideBar {
    position: fixed;
    bottom: 30px;
    right: 0px;
    z-index: 111;
    a {
        display: block;
        width: 46px;
        height: 70px;
        background: red;
        margin: 10px 0 0 0;
    }
    .toTop {
        background: url(../images/gotop_399f0c23.gif) no-repeat;
        background-position: -44px -40px;
        height: 46px;
        border: 1px solid #CCCCCC;
        border-right: none;
        display: none;
    }
    .toTop:hover {
        background-position: -44px 11px;
    }
    .toShopCar {
        background: url(../images/cart_pop02_21375019.gif) no-repeat;
        background-position: -11px 0px;
    }
    .toShopCar:hover {
        background: url(../images/cart_pop04_7d8dece4.gif) no-repeat;
        background-position: -11px 0px;
    }
    .customer-right {
        background: url(../images/gotop_service_d114e897.gif) no-repeat;
    }
    .customer-right:hover {
        background: url(../images/gotop_service_d114e897.gif) no-repeat;
        background-position: -60px 0px;
    }
    .twoCode {
        height: 46px;
        background: url(../images/gotop_399f0c23.gif) no-repeat;
        background-position: -98px -48px;
        border: 1px solid #CCCCCC;
        border-right: none;
    }
    .twoCode:hover {
        background-position: -98px 3px;
    }
}

.zhangYang-lunBo {
    height: 400px;
    position: relative;
    a {
        display: block;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    a:first-child {
        background: url(../images/sjzz1.jpg)no-repeat;
        background-position: -298px 0;
    }
    a:first-child+a {
        background: url(../images/sjlg1191.jpg)no-repeat;
        background-position: -298px 0;
    }
    a:first-child+a+a {
        background: url(../images/sjjg199.jpg)no-repeat;
        background-position: -298px 0;
    }
    a:first-child+a+a+a {
        background: url(../images/sjhgg1.jpg)no-repeat;
        background-position: -298px 0;
    }
    a:first-child+a+a+a+a {
        background: url(../images/sjgx4.jpg)no-repeat;
        background-position: -298px 0;
    }
}

.zhangYang-box9527 {
    position: relative;
    clear: both;
    .left-menu2 {
            top: 0px;
            left: 14.5px;
            display: block;
            position: fixed;
            width: 42px;
            display: none;
        a{
            display: block;
            width: 42px;
            height: 42px;
            display: block;
            float: left;
            margin-bottom: 5px;
            background: url(../images/left_menu_ico_821aa259.png) no-repeat;
        }
        .icon99{
            background-position: 0 -516px;;
        }
        .icon7{
            background-position: 0 -86px;;
        }
        .icon8{
            background-position: 0 -129px;;
        }
        .icon9{
            background-position: 0 -172px;;
        }
        .icon10{
            background-position: 0 -215px;;
        }
        .icon11{
            background-position: 0 -258px;;
        }
        .icon12{
            background-position: 0 -602px;;
        }
        .icon3{
            background-position: 0 -387px;;
        }
        .icon4{
            background-position: 0 -301px;;
        }
        .icon5{
            background-position: -43 -344px;;
        }
        .icon6{
            background-position: 0 -473px;;
        }
    }
    .index1_ad {
        float: left;
        ul {
            li {
                float: left;
            }
        }
    }
    .index2_new {
        float: left;
        width: 1010px;
        height: 266px;
        margin-bottom: 20px;
        float: left;
        .index2_table {
            background-color: #f8f8f6;
            border-right: 1px solid #c2d58f;
            border-left: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            float: left;
            width: 123px;
            height: 264px;
            position: relative;
            z-index: 0;
            dl {
                dt {
                    position: relative;
                    top: -1px;
                    left: -1px;
                    ;
                    a {
                        color: #78a000;
                        background-color: #fff;
                        border-top: 1px solid #c2d58f;
                        border-bottom: 1px solid #c2d58f;
                        border-left: 4px solid #91be16;
                        width: 117px;
                        padding-right: 2px;
                        height: 44px;
                        display: block;
                        font: 400 16px/44px "Microsoft YaHei";
                        text-align: center;
                    }
                }
                dd {
                    position: absolute;
                    left: 124px;
                    top: 0px;
                    .index_sku {
                        width: 885px;
                        height: 265px;
                        float: left;
                    }
                    ul {
                        clear: both;
                        li {
                            width: 176px;
                            float: left;
                            height: 264px;
                            border-bottom: 1px solid #eee;
                            border-right: 1px solid #eee;
                            background-color: #fff;
                            overflow: hidden;
                            position: relative;
                            float: left;
                            .box {
                                border: 4px solid #fff;
                                width: 176px;
                                height: 256px;
                                padding: 0 14px;
                                position: relative;
                                transition: all .2s linear;
                            }
                            p {
                                text-align: left;
                                a {
                                    font: 400 14px/18px "Microsoft YaHei";
                                    color: #3e4141;
                                    font {
                                        text-overflow: clip;
                                        display: block;
                                        overflow: hidden;
                                        height: 19px;
                                    }
                                    span {
                                        font: 400 12px/18px "Microsoft YaHei";
                                        color: #898989;
                                    }
                                    img {
                                        width: 140px;
                                        height: 140px;
                                    }
                                }
                            }
                            .pic {
                                margin-top: 15px;
                                transition: all .2s cubic-bezier(0, 1.48, 1, 1);
                            }
                            .name {
                                height: 38px;
                                width: 140px;
                                text-overflow: clip;
                                display: block;
                                overflow: hidden;
                                margin-top: 15px;
                                transition: all .2s linear;
                            }
                            .price {
                                font: 400 17px/25px "Microsoft YaHei";
                                color: #ff6900;
                                margin-top: 7px;
                                transition: all .2s linear;
                            }
                            .btn {
                                position: absolute;
                                top: 260px;
                                left: 0;
                                transition: all .2s linear;
                                a {
                                    background: url(../images/btn_new_b1771e22.png) no-repeat center;
                                    width: 168px;
                                    height: 33px;
                                    display: block;
                                    background-position: center 0;
                                    cursor: pointer;
                                }
                            }
                            .price {
                                span {
                                    font: 400 12px/25px "Microsoft YaHei";
                                    color: #686c69;
                                    text-decoration: line-through
                                }
                            }
                        }
                        li:hover .btn {
                            position: absolute;
                            top: 223px;
                            left: 0;
                            transition: all .2s linear;
                        }
                        li:hover .box {
                            border: 4px solid #f8f8f6;
                            transition: all .2s linear;
                        }
                        li:hover .pic {
                            margin-top: 10px;
                            transition: all .2s linear;
                        }
                        li:hover .name {
                            margin-top: 5px;
                            transition: all .2s linear;
                        }
                        li:hover .price {
                            margin-top: 5px;
                            transition: all .2s linear;
                        }
                    }
                }
            }
            dl:first-child+dl {
                dt {
                    left: 0px;
                    a {
                        border-bottom: 1px solid #999;
                        border-right: 1px solid #999;
                        border-left: 1px solid #999;
                    }
                }
                dd {
                    display: none;
                }
            }
            dl:first-child+dl:hover {
                left: -1px;
                dt {
                    a {
                        border-top: 1px solid #c2d58f;
                        border-bottom: 1px solid #c2d58f;
                        border-left: 4px solid #91be16;
                        border-right: none;
                    }
                }
                dd {
                    display: block;
                }
            }
        }
    }
    .index2_right {
        float: right;
        border: 1px solid #c2d58f;
        width: 175px;
        height: 264px;
        margin-bottom: 20px;
        .tit {
            font: 400 18px/45px "Microsoft YaHei";
            color: #626252;
            margin-top: 7px;
            text-align: center;
        }
        ul {
            li {
                text-overflow: clip;
                display: block;
                overflow: hidden;
                width: 155px;
                float: left;
                height: 28px;
                a {
                    font: 400 14px/28px "Microsoft YaHei";
                    color: #626262;
                }
            }
        }
        a {
            color: #666;
            text-decoration: none;
            outline: 0;
            cursor: pointer;
        }
    }
    .index15_origin {
        background: url(../images/3e4a4a10-daf4-4d39-b63c-ce84b4bd4d1d.jpg) no-repeat;
        float: left;
        width: 1200px;
        height: 470px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        .origin_tit {
            width: 124px;
            height: 45px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            font: 400 16px/45px "Microsoft YaHei";
            color: #fff;
            padding-left: 49px;
            background: url(../images/n_bg_be18aeea.png) 0 -84px no-repeat;
        }
        .index15_path {
            float: left;
            width: 1200px;
            height: 170px;
            background: url(../images/n_path_c5a3e09b.png) no-repeat;
            position: relative;
            z-index: 8;
            .icon1 {
                margin-bottom: 9px;
                background: url(../images/n_bg_be18aeea.png) 0 -50px no-repeat;
                width: 25px;
                height: 33px;
            }
            .icon2 {
                top: 48px;
                left: 7px;
                position: absolute;
                z-index: 7;
                background: url(../images/n_bg_be18aeea.png) -35px -50px no-repeat;
                width: 10px;
                height: 10px;
            }
            .icon3 {
                margin: 8px 0 0 1px;
                margin: 15px 0 0 1px;
                background: url(../images/n_bg_be18aeea.png) -55px -50px no-repeat;
                width: 22px;
                height: 22px;
            }
        }
        dl {
            dt {
                position: absolute;
                top: 31px;
                left: 229px;
            }
            dd {
                position: absolute;
                z-index: 8;
                a {
                    font: 400 16px/45px "Microsoft YaHei";
                    color: #1e301d;
                    width: 90px;
                    height: 45px;
                    text-overflow: clip;
                    display: block;
                    overflow: hidden;
                    text-align: center;
                    padding-top: 60px;
                }
                a:hover {
                    color: #f98601;
                    text-decoration: none;
                }
                .on {
                    color: #f98601;
                    text-decoration: none;
                }
            }
            .country01 {
                top: 30px;
                left: 196px;
            }
            .country02 {
                top: 16px;
                left: 390px;
            }
            .country03 {
                top: 44px;
                left: 582px;
            }
            .country04 {
                top: 19px;
                left: 771px;
            }
            .country05 {
                top: 33px;
                left: 984px;
            }
        }
        .index15_sku2 {
            width: 1160px;
            height: 280px;
            float: left;
            position: relative;
            z-index: 9;
            margin-left: 20px;
            display: inline;
            .sku_bg {
                background-color: #fff;
                opacity: .9;
                filter: alpha(opacity=91);
                box-shadow: 3px 1px 9px rgba(0, 0, 0, .2);
                width: 1160px;
                height: 280px;
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
            }
            ul {
                padding: 0 22px;
                float: left;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 7;
                overflow: hidden;
                
                li {
                    margin: 0px 0 0 7px;
                    width: 178px;
                    float: left;
                    height: 280px;
                    padding: 4px;
                    position: relative;
                    transition: all .2s linear;
                    p {
                        text-align: center;
                        margin: 0 auto;
                        a {
                            font: 400 14px/18px "Microsoft YaHei";
                            color: #3e4141;
                            font {
                                text-overflow: clip;
                                display: block;
                                overflow: hidden;
                                height: 19px;
                            }
                            span {
                                font: 400 12px/18px "Microsoft YaHei";
                                color: #898989;
                            }
                            img {
                                width: 140px;
                                height: 140px;
                            }
                        }
                    }
                    .pic {
                        margin-top: 15px;
                        transition: all .2s cubic-bezier(0, 1.48, 1, 1);
                    }
                    .name {
                        height: 38px;
                        width: 140px;
                        text-overflow: clip;
                        display: block;
                        overflow: hidden;
                        margin-top: 15px;
                        transition: all .2s linear;
                    }
                    .price {
                        font: 400 17px/25px "Microsoft YaHei";
                        color: #ff6900;
                        margin-top: 7px;
                        transition: all .2s linear;
                    }
                    .btn {
                        position: absolute;
                        top: 260px;
                        left: 0px;
                        transition: all .2s linear;
                        display: none;
                        margin: 0 auto;
                        a {
                            
                            background: url(../images/btn_new_b1771e22.png) no-repeat center;
                            width: 138px;
                            height: 33px;
                            display: block;
                            background-position: center 0;
                            cursor: pointer;
                        }
                    }
                    .price {
                        span {
                            font: 400 12px/25px "Microsoft YaHei";
                            color: #686c69;
                            text-decoration: line-through
                        }
                    }
                }
                li:hover .btn {
                    position: absolute;
                    top: 233px;
                    left: 18px;
                    transition: all .2s linear;
                    display: block;
                }
                li:hover .box {
                    border: 4px solid #f8f8f6;
                    transition: all .2s linear;
                }
                li:hover .pic {
                    margin-top: 10px;
                    transition: all .2s linear;
                }
                li:hover .name {
                    margin-top: 5px;
                    transition: all .2s linear;
                }
                li:hover .price {
                    margin-top: 4px;
                    transition: all .2s linear;
                }
                li:hover{
                    background: #fff;
                    margin: 0px 0  0 7px;
                }
            }
        }
    }
    .index15_recommend{
        width: 1200px;
        height: 640px;
        position: relative;
        .index15_tit{
            background: #969896;
            height: 45px;
            a{
                font: 400 18px/35px "Microsoft YaHei";
                color: #626252;
                text-decoration: none;
                line-height: 45px;
                em{
                    display:block;
                    width: 35px;
                    height: 45px;
                    background: url(../images/left_menu_ico_821aa259.png) no-repeat;
                    background-position: -86px -82px;
                    float: left;
                    margin: 0 20px;
                }
            }
            
            
        }
        .index15_label{
            height: 45px;
            ul{
                padding: 0 10px;
                width: 314px;
                li{
                    float: left;
                    margin: 0 10px;
                    a{
                        padding: 4px 5px 0;
                        margin: 5px 0;
                        display: block;
                        border: 1px solid #a6ca44;
                        width: 40px;
                        height: 46px;
                        text-align: center;
                        font: 400 14px/50px "Microsoft YaHei";
                        color: #78a000;
                        background-color: #fff;
                        border-radius: 10px;
                        text-overflow: clip;
                        display: block;
                        overflow: hidden;
                        line-height: 24px;
                        font-weight: 700;
                    }
                }
                li:hover a{
                    background: #8AB700;
                    color: #fff;
                }
            }
        }
        .index15_tab{
            position:absolute;
            left: 318px;
            top:0;
            width: 880px;
            dl{
                height: 27px;
                width: 124px;
                float: left;
                margin: 10px 0;
                border-right: 1px solid #e5e5e5;
                position: relative;
                dt{
                    position: relative;
                    z-index: 5;
                    top: -10px;
                    left: 0;
                    text-align: center;
                    a{
                        font: 400 14px/37px "Microsoft YaHei";
                        color: #626252;
                        text-decoration: none;
                        display: block;
                        padding: 5px 0;
                        width: 125px;
                        height: 37px;
                        text-overflow: clip;
                        display: block;
                        overflow: hidden;
                    }
                }
                dd{
                    position: absolute;
                    top: 48px;
                    left: 0;
                    z-index: 4;
                    
                    height: 530px;
                    
                    .index15_box9528{
                        width: 885px;
                        height: 530px!important;
                        float: right!important;
                        ul{
                            li{
                                width: 176px;
                                float: left;
                                height: 264px;
                                border-bottom: 1px solid #eee;
                                border-right: 1px solid #eee;
                                background-color: #fff;
                                overflow: hidden;
                                position: relative;
                                float: left;
                                .box {
                                    border: 4px solid #fff;
                                    width: 176px;
                                    height: 256px;
                                    padding: 0 14px;
                                    position: relative;
                                    transition: all .2s linear;
                                }
                                p {
                                    text-align: left;
                                    a {
                                        font: 400 14px/18px "Microsoft YaHei";
                                        color: #3e4141;
                                        font {
                                            text-overflow: clip;
                                            display: block;
                                            overflow: hidden;
                                            height: 19px;
                                        }
                                        span {
                                            font: 400 12px/18px "Microsoft YaHei";
                                            color: #898989;
                                        }
                                        img {
                                            width: 140px;
                                            height: 140px;
                                        }
                                    }
                                }
                                .pic {
                                    margin-top: 15px;
                                    transition: all .2s cubic-bezier(0, 1.48, 1, 1);
                                }
                                .name {
                                    height: 38px;
                                    width: 140px;
                                    text-overflow: clip;
                                    display: block;
                                    overflow: hidden;
                                    margin-top: 15px;
                                    transition: all .2s linear;
                                }
                                .price {
                                    font: 400 17px/25px "Microsoft YaHei";
                                    color: #ff6900;
                                    margin-top: 7px;
                                    transition: all .2s linear;
                                }
                                .btn {
                                    position: absolute;
                                    top: 260px;
                                    left: 0;
                                    transition: all .2s linear;
                                    a {
                                        background: url(../images/btn_new_b1771e22.png) no-repeat center;
                                        width: 168px;
                                        height: 33px;
                                        display: block;
                                        background-position: center 0;
                                        cursor: pointer;
                                    }
                                }
                                .price {
                                    span {
                                        font: 400 12px/25px "Microsoft YaHei";
                                        color: #686c69;
                                        text-decoration: line-through
                                    }
                                }
                            }
                            li:hover .btn {
                                position: absolute;
                                top: 223px;
                                left: 0;
                                transition: all .2s linear;
                            }
                            li:hover .box {
                                border: 4px solid #f8f8f6;
                                transition: all .2s linear;
                            }
                            li:hover .pic {
                                margin-top: 10px;
                                transition: all .2s linear;
                            }
                            li:hover .name {
                                margin-top: 5px;
                                transition: all .2s linear;
                            }
                            li:hover .price {
                                margin-top: 5px;
                                transition: all .2s linear;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}