@charset "UTF-8";
.zhangYang-menu-auto-left-pd {
  display: none; }

.zhangYang-login .zhangYang-login-ye {
  margin: 20px 0; }
  .zhangYang-login .zhangYang-login-ye a {
    color: #999;
    font: 400 16px/19px "Microsoft YaHei"; }
  .zhangYang-login .zhangYang-login-ye span {
    color: #999;
    font: 400 16px/19px "Microsoft YaHei"; }
  .zhangYang-login .zhangYang-login-ye i {
    color: #999;
    font: 400 16px/19px "Microsoft YaHei"; }
.zhangYang-login .login_user {
  border: 1px solid #ddd;
  width: 462px;
  height: 590px;
  float: left;
  padding: 0 20px; }
  .zhangYang-login .login_user ul {
    margin: 10px 0 0 0; }
  .zhangYang-login .login_user .title15_qq {
    margin: 40px auto;
    width: 400px; }
    .zhangYang-login .login_user .title15_qq p {
      font: 400 22px/19px "Microsoft YaHei"; }
  .zhangYang-login .login_user .register_box, .zhangYang-login .login_user .psw {
    float: left;
    width: 400px;
    height: 44px;
    position: relative;
    border: 1px solid #ddd; }
    .zhangYang-login .login_user .register_box dl, .zhangYang-login .login_user .psw dl {
      float: left;
      width: 398px;
      border: 1px solid #ddd;
      margin-bottom: 30px;
      padding: 7px 0;
      position: relative;
      z-index: 0; }
      .zhangYang-login .login_user .register_box dl p, .zhangYang-login .login_user .psw dl p {
        float: left;
        width: 100px;
        text-align: center;
        border-right: 1px solid #ddd;
        font: 400 14px/28px "Microsoft YaHei";
        margin-right: 10px;
        display: inline; }
      .zhangYang-login .login_user .register_box dl s, .zhangYang-login .login_user .psw dl s {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 25px;
        height: 25px;
        background: url(../images/login_ico_ec3070b7.png) no-repeat;
        background-position: 0 -102px; }
      .zhangYang-login .login_user .register_box dl input, .zhangYang-login .login_user .psw dl input {
        float: right;
        font: 400 14px/28px "Microsoft YaHei";
        width: 240px;
        height: 28px;
        border: 0; }
    .zhangYang-login .login_user .register_box .prompt, .zhangYang-login .login_user .psw .prompt {
      position: absolute;
      top: -20px;
      left: 0; }
    .zhangYang-login .login_user .register_box .tishiPsw, .zhangYang-login .login_user .psw .tishiPsw {
      font-size: 12px;
      color: red;
      position: absolute;
      top: -20px;
      left: 0;
      display: none; }
  .zhangYang-login .login_user .protocol {
    float: left; }
    .zhangYang-login .login_user .protocol > p {
      float: left;
      font: 400 14px/20px "Microsoft YaHei";
      width: 100%;
      margin-bottom: 20px;
      position: relative; }
      .zhangYang-login .login_user .protocol > p a {
        color: #8ab700; }
    .zhangYang-login .login_user .protocol .logBtns {
      float: left; }
      .zhangYang-login .login_user .protocol .logBtns > a {
        display: block;
        width: 400px;
        height: 58px;
        text-align: center;
        font: 400 24px/58px "Microsoft YaHei";
        color: #fff;
        background: #ff6900;
        text-decoration: none; }
      .zhangYang-login .login_user .protocol .logBtns p {
        text-align: right;
        font: 400 14px/20px "Microsoft YaHei"; }
        .zhangYang-login .login_user .protocol .logBtns p a {
          color: #8ab700;
          text-decoration: none; }
  .zhangYang-login .login_user .other li {
    font: 400 14px/50px "Microsoft YaHei"; }
    .zhangYang-login .login_user .other li em a {
      display: inline-block;
      width: 88px;
      height: 32px;
      font: 400 12px/30px "宋体";
      color: #666;
      padding: 0 6px 0 32px;
      border: 1px solid #eaeaea;
      white-space: nowrap;
      width: auto;
      float: left;
      background: url(../images/login_ico_ec3070b7.png) no-repeat #fbfbfb;
      text-decoration: none; }
    .zhangYang-login .login_user .other li em:first-child a {
      background-position: 6px -197px; }
    .zhangYang-login .login_user .other li em:first-child + em a {
      background-position: 6px -227px; }
    .zhangYang-login .login_user .other li em:first-child + em + em a {
      background-position: 6px -257px; }
    .zhangYang-login .login_user .other li em:first-child + em + em + em a {
      background-position: 6px -537px; }
    .zhangYang-login .login_user .other li em:first-child + em + em + em + em a {
      background-position: 6px -757px; }
    .zhangYang-login .login_user .other li em:first-child + em + em + em + em + em a {
      background-position: 6px -807px; }

/*# sourceMappingURL=login.css.map */
